<section class="about section" id="about">
    <div class="container">
      <div class="about-content">
        <div class="about-text">
          <h2 class="section-title">{{ title }}</h2>
          <p class="about-description">{{ description }}</p>
          
          <ul class="about-features">
            <li *ngFor="let feature of features">{{ feature }}</li>
          </ul>
        </div>
        
        <div class="about-image">
          <img src="https://via.placeholder.com/500x350" alt="Our Team" class="team-photo">
        </div>
      </div>
    </div>
  </section>